#ignore all files
*.*
vendor/
tags

#except the following files
!*.cpp
!*.hpp
!*.c
!*.h
!*.inl

!*.pl

!*.go
!*.*.go
!*.lua
!*.json

!*.cs
!*.csproj
!*.resx

!*.hlsl
!*.fragment

!*.mold
!*.sc
!*.diagram

!*.ini
!*.bat

#except the following folders
!bravia.tv/
!samsung.tv/